<div class="main-banner">
    <div class="owl-carousel owl-banner">
        <div class="item item-1">
            <div class="header-text">
                <span class="category">Mugla, <em>Turkiye</em></span>
                <h2>Acele Edin!<br>Sizin Icin En Iyi Villalari Gorun</h2>
            </div>
        </div>
        <div class="item item-2">
            <div class="header-text">
                <span class="category">Antalya, <em>Turkiye</em></span>
                <h2>Hizli Olun!<br>Cevredeki Firsatlari Kacirmayin</h2>
            </div>
        </div>
        <div class="item item-3">
            <div class="header-text">
                <span class="category">Izmir, <em>Turkiye</em></span>
                <h2>Simdi Kiralayin!<br>En Luks Villari Gorun</h2>
            </div>
        </div>
    </div>
</div>